header {
  /* background-color: #333; */
  justify-content: flex-start;
  display: flex;
  background-color: rgb(168, 215, 105);
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  color: #eee;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: auto 1em;
}

header a:hover {
  color: aquamarine;
}

/* body {
  margin: auto;
} */

html {
  scroll-behavior: smooth;
}

.red {
  color: red;
}

/* single-row column design */
.single-row_tr {
  display: block;
  float: left;
}
.single-row_th,
.single-row_td {
  display: block;
  border: 1px solid black;
}

.fav_th,
.fav_td {
  border: 1px solid black;
}
/* border-collapse tr > *:not(:first-child) {
  border-top: 0;
}
tr:not(:first-child) > * {
  border-left: 0;
} */
