header {
  /* background-color: #333; */
  justify-content: flex-start;
  display: flex;
  background-color: rgb(168, 215, 105);
}

header ul {
  display: flex;
  list-style: none;
}

header a {
  color: #eee;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s ease;
  margin: auto 1em;
}

header a:hover {
  color: aquamarine;
}

/* body {
  margin: auto;
} */

html {
  scroll-behavior: smooth;
}

.red {
  color: red;
}
